DOCKER_PLATFORM=linux/arm
NAKAMA_ADMIN_USERNAME=admin
NAKAMA_ADMIN_PASSWORD=password
POSGRES_USERNAME=posgres
POSGRES_PASSWORD=password
NAKAMA_SESSION_ENCRYPTION_KEY=session
NAKAMA_SESSION_REFRESH_ENCRYPTION_KEY=refresh
NAKAMA_SOCKET_SERVER_KEY=publickey
NAKAMA_RUNTIME_HTTP_KEY=http
